<div class="container">
    <h1>{{contest.title}}</h1>

    <!-- TODO: Find a good way to refactor these three states to different partials. -->
    <!-- If the contest is open -->
    <div ng-show="contest.week.state === 'open'">
        <div class="form-group">
            <span>{{contest.note}}</span>
        </div>
        <div class="form-group">
            <strong>Contest Owner: </strong>
            <img 
                class="img-circle"
                ng-src="{{user.profile.picture ? user.profile.picture : null}}"
                ng-show="user.profile.picture"
                style="width: 30px; height: 30px; margin: -15px 5px -15px;"/>
            <span>{{contest.owner.profile.name}}</span>
        </div>
        <div clsas="form-group">
            <strong>Entries: </strong>
            {{contest.entries.length}}
        </div>

        <!-- Tabbed player selection and roster display -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <h3><strong>Players</strong></h3>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search player names" ng-model="searchField"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                                <h3><strong>Lineup</strong></h3>
                                <p>Remaining Salary: ${{contest.salaryCap - rosterSalary}}</p>
                        </div>
                    </form>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                

                    <div style="height: 372px;overflow-y: auto;outline: 1px solid gray;">
                        <table class="table table-bordered table-striped table-scrollable">
                            <thead style="width:100%">
                                <tr>
                                    <th class="col-sm-2" ng-click="sortType = 'player.position'; sortReverse = !sortReverse">
                                        POS
                                        <span ng-show="sortType == 'player.position' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'player.position' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th class="col-sm-4" ng-click="sortType = 'player.displayName'; sortReverse = !sortReverse">
                                        Player
                                        <span ng-show="sortType == 'player.displayName' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'player.displayName' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th class="col-sm-3" ng-click="sortType = 'matchup'; sortReverse = !sortReverse">
                                        Matchup
                                        <span ng-show="sortType == 'matchup' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'matchup' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th class="col-sm-2" ng-click="sortType = 'salary'; sortReverse = !sortReverse">
                                        Salary
                                        <span ng-show="sortType == 'salary' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'salary' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th class="col-sm-1">
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="p in players | filter: playerFilter | orderBy: sortType:sortReverse">
                                    <td class="col-sm-2">{{p.player.position}}</td>
                                    <td class="col-sm-4">{{p.player.displayName}}</td>
                                    <td class="col-sm-3">{{p.matchup}}</td>
                                    <td ng-class="(p.salary > (contest.salaryCap - rosterSalary)) ? 'col-sm-2 danger' : 'col-sm-2'">${{p.salary}}</td>
                                    <td class="col-sm-1" style="text-align: center">
                                        <i class="fa fa-plus" style="color:green" ng-click="addPlayer(p, true)"></i>
                                    </td>
                            </tbody>
                        </table>
                    </div>



                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">


                    <div style="height: 372px;overflow-y: auto;outline: 1px solid gray;">
                        <table class="table table-bordered table-striped table-scrollable">
                            <thead style="width:100%">
                                <tr>
                                    <th class="col-sm-2">
                                        POS
                                    </th>
                                    <th class="col-sm-4">
                                        Player
                                    </th>
                                    <th class="col-sm-3">
                                        Matchup
                                    </th>
                                    <th class="col-sm-2">
                                        Salary
                                    </th>
                                    <th class="col-sm-1">
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="slot in contestLineup">
                                    <td class="col-sm-2">{{slot.position}}</td>
                                    <td class="col-sm-4">{{slot.rosterEntry.player.displayName}}</td>
                                    <td class="col-sm-3">{{slot.rosterEntry.matchup}}</td>
                                    <td class="col-sm-2">
                                        <div ng-show="slot.rosterEntry">${{slot.rosterEntry.salary}}</div>
                                    </td>
                                    <td class="col-sm-1" style="text-align: center">
                                        <div ng-show="slot.rosterEntry">
                                            <i class="fa fa-times" ng-click="removePlayer($index)"></i>
                                        </div>
                                    </td>
                            </tbody>
                        </table>
                    </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-input">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <input type="button" class="btn btn-primary" value="Save" ng-click="save()" ng-disabled="updating"></input>
                        <img style="height: 35px; width:35px" src="/images/spinner.gif" ng-show="updating" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- If the contest is locked -->
    <div ng-show="contest.week.state === 'locked'">
    Contest is locked!
    </div>

    <!-- If the contest is completed -->
    <div ng-show="contest.week.state === 'completed'">
    Contest is completed!
    </div>
</div>