<div class="container">

    <h1>
        {{contest.title}}
        <input type="button" class="btn btn-danger" value="Delete" ng-click="delete()" ng-show="canDelete" ng-disabled="updating"></input>
    </h1>

    <!-- If the contest is open -->
    <div ng-show="contest.week.state === 'open'">
        <div ng-include="'partials/contest-open.html'"></div>
    </div>

    <!-- If the contest is locked -->
    <!-- TODO: Decide if we would really want different partials for completed and closed or not... -->
    <!-- If the contest is completed -->
    <div ng-show="contest.week.state === 'locked' || contest.week.state === 'completed' || contest.week.state === 'closed'">
        <div ng-include="'partials/contest-locked.html'"></div>
    </div>

</div>