<div class="container">

    <h1>
        {{contest.title}}
        <input type="button" class="btn btn-danger" value="Delete" ng-click="delete()" ng-show="canDelete" ng-disabled="updating"></input>
    </h1>

    <!-- TODO: Find a good way to refactor these three states to different partials. -->
    <!-- If the contest is open -->
    <div ng-show="contest.week.state === 'open'">
        <div ng-include="'partials/contest-open.html'"></div>
    </div>

    <!-- If the contest is locked -->
    <div ng-show="contest.week.state === 'locked'">
        <div ng-include="'partials/contest-locked.html'"></div>
    </div>

    <!-- If the contest is completed -->
    <div ng-show="contest.week.state === 'completed'">
        <div ng-include="'partials/contest-completed.html'"></div>
    </div>
</div>