<h1>{{pageHeader}}</h1>

<form>
    <div class="form-group">
        <div class="container">
            <div class="form-group">
                <input type="file" on-file-change="parsePlayerFile"></input>
                <div ng-show="importStarted">
                    <span>Import Progress: {{importDone}} / {{importMax}}</span>
                    <uib-progressbar max="importMax" value="importDone" animate="false"></uib-progressbar>
                    <uib-alert ng-show="importResult.errorCount > 0" type="danger">
                        {{importResult.errorCount}} records failed to import!
                        <ul>
                            <li ng-repeat='name in importResult.errorNames'>
                                {{name}}
                            </li>
                        </ul>
                    </uib-alert>
                    <uib-alert ng-show="importResult.createdCount > 0" type="warning">
                        {{importResult.createdCount}} new player records were created
                    </uib-alert>
                    <uib-alert ng-show="importResult.changedCount > 0" type="warning">
                        {{importResult.changedCount}} players changed teams
                        <ul>
                            <li ng-repeat='name in importResult.changedNames'>
                                {{name}}
                            </li>
                        </ul>
                    </uib-alert>
                    <uib-alert ng-show="importResult.successCount > 0" type="info">
                        {{importResult.successCount}} records imported successfully, click Save to save them
                    </uib-alert>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search player names" ng-model="searchField"/>
                    </div>
                </div>
            </form>
              <div style="height: 600px;overflow-y: auto;outline: 1px solid gray;">
                <table class="table table-bordered table-striped table-scrollable">
                    <thead style="width:100%">
                        <tr>
                            <th class="col-sm-2" ng-click="sortType = 'player.firstName'; sortReverse = !sortReverse">
                                First Name
                                <span ng-show="sortType == 'player.firstName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'player.firstName' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="col-sm-2" ng-click="sortType = 'player.lastName'; sortReverse = !sortReverse">
                                Last Name
                                <span ng-show="sortType == 'player.lastName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'player.lastName' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="col-sm-2" ng-click="sortType = 'player.position'; sortReverse = !sortReverse">
                                Position
                                <span ng-show="sortType == 'player.position' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'player.position' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="col-sm-2" ng-click="sortType = 'player.team'; sortReverse = !sortReverse">
                                Team
                                <span ng-show="sortType == 'player.team' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'player.team' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="col-sm-2" ng-click="sortType = 'salary'; sortReverse = !sortReverse">
                                Salary
                                <span ng-show="sortType == 'salary' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'salary' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="col-sm-2" ng-click="sortType = 'matchup'; sortReverse = !sortReverse">
                                Matchup
                                <span ng-show="sortType == 'matchup' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'matchup' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="p in players | filter: playerFilter | orderBy: sortType:sortReverse " ng-class="p.created ? 'warning' : ''">
                            <td class="col-sm-2">{{p.player.firstName}}</td>
                            <td class="col-sm-2">{{p.player.lastName}}</td>
                            <td class="col-sm-2">{{p.player.position}}</td>
                            <td class="col-sm-2">{{p.player.team}}</td>
                            <td class="col-sm-2">{{p.salary}}</td>
                            <td class="col-sm-2">{{p.matchup}}</td>
                    </tbody>
                </table>
              </div>
        </div>
    </div>

    <input type="button" class="btn btn-primary" value="Save" ng-click="save()" ng-disabled="updating || importing"></input>
    <input type="button" class="btn btn-danger" value="Delete" ng-click="delete()" ng-disabled="updating || importing"></input>
    <img style="height: 35px; width:35px" src="/images/spinner.gif" ng-show="updating" />
    <uib-alert ng-show="submitResult.isError" type="danger">
        {{submitResult.msg}}
    </uib-alert>
</form>
