<h1>{{pageHeader}}</h1>

<form>
    <div class="form-group">
        <div class="container">
            <div class="form-group">
                <input type="file" on-file-change="parsePlayerFile"></input>
                <div ng-show="importStarted">
                    <span>Import Progress: {{importDone}} / {{importMax}}</span>
                    <uib-progressbar max="importMax" value="importDone" animate="false"></uib-progressbar>
                    <uib-alert ng-show="importResult.errorCount > 0" type="danger">
                        {{importResult.errorCount}} records failed to import!
                    </uib-alert>
                    <uib-alert ng-show="importResult.createdCount > 0" type="warning">
                        {{importResult.createdCount}} new player records were created
                    </uib-alert>
                    <uib-alert ng-show="importResult.successCount > 0" type="info">
                        {{importResult.successCount}} records imported successfully, click Save to save them
                    </uib-alert>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search player names" ng-model="searchField"/>
                    </div>
                </div>
            </form>
              <div style="height: 600px;overflow-y: auto;outline: 1px solid gray;">
                <table class="table table-bordered table-striped table-scrollable">
                    <thead style="width:100%">
                        <tr>
                            <th class="col-sm-2">First Name</th>
                            <th class="col-sm-2">Last Name</th>
                            <th class="col-sm-2">Position</th>
                            <th class="col-sm-2">Team</th>
                            <th class="col-sm-2">Salary</th>
                            <th class="col-sm-2">Matchup</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="p in players | filter: playerFilter" ng-class="p.created ? 'warning' : ''">
                            <td class="col-sm-2">{{p.player.firstName}}</td>
                            <td class="col-sm-2">{{p.player.lastName}}</td>
                            <td class="col-sm-2">{{p.player.position}}</td>
                            <td class="col-sm-2">{{p.player.team}}</td>
                            <td class="col-sm-2">{{p.salary}}</td>
                            <td class="col-sm-2">{{p.matchup}}</td>
                    </tbody>
                </table>
              </div>
        </div>
    </div>

    <input type="button" class="btn btn-primary" value="Save" ng-click="save()" ng-disabled="updating || importing"></input>
    <input type="button" class="btn btn-danger" value="Delete" ng-click="delete()" ng-disabled="updating || importing"></input>
    <img style="height: 35px; width:35px" src="/images/spinner.gif" ng-show="updating" />
    <uib-alert ng-show="submitResult.isError" type="danger">
        {{submitResult.msg}}
    </uib-alert>
</form>
